<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add Questionnaires</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> Добавить анкету </h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a class="btn btn-info" href="#" th:href="@{/personal-page}">Вернуться к анкетам </a>
			<form action="#" class="form-horizontal"
				  th:action="@{/questionnaire/save}"
				  th:object="${form}"
				  method="post">
				<fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
					<table class="table">
						<thead>
						<tr>
							<th> Имя</th>
							<th> Фамиля</th>
							<th> Возраст</th>
							<th> Пол</th>
							<th> Интересы</th>
							<th> Город</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="questionnaire, itemStat : *{questionnaires}">
							<td><input th:placeholder="Текст" th:field="*{questionnaires[__${itemStat.index}__].name}" required/></td>
							<td><input th:placeholder="Текст" th:field="*{questionnaires[__${itemStat.index}__].secondName}" required/></td>
							<td><input th:placeholder="Число" th:field="*{questionnaires[__${itemStat.index}__].age}" required/></td>
							<td><input th:placeholder="Текст" th:field="*{questionnaires[__${itemStat.index}__].sex}" required/></td>
							<td><input th:placeholder="Текст" th:field="*{questionnaires[__${itemStat.index}__].interests}" required/></td>
							<td><input th:placeholder="Текст" th:field="*{questionnaires[__${itemStat.index}__].city}" required/></td>
						</tr>
						</tbody>
					</table>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</body>
</html>
