<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Custom Login Page</title>
</head>
<body>
<h2>Добро пожалосвать в соцсеть Social Table (Если вам лень регистрироваться, можете зайти под user1/user1) </h2>
<form th:action="@{/login}" method="post">
    <label for="username">Username</label>: <input type="text"
                                                   id="username" name="username" autofocus="autofocus"/> <label
        for="password">Password</label>: <input type="password" id="password"
                                                name="password"/><input type="submit" value="Log in"/>
</form>

<div class="col-xs-12 col-sm-6 col-md-6">
    <br/>
    <br/>
    Нажмите, чтобы зарегистрироваться:
    <br/>
    <a class="btn" th:href="@{/register-page}">Зарегистрироваться</a>
</div>


</body>
</html>